<footer>
    <p>All rights reserved.</p>
    <nav>
        <ul>
            <li>Privacy Policy</a></li>
            <li>Terms of Service</a></li>
            <li>Contact</a></li>
        </ul>
    </nav>
</footer>